@font-face {
    src: url(fonts/VCR.ttf);
    font-family: VCR;
}

h1 {
    text-align: center;
    font-size: 50px;
}

div {
    margin: auto;
    max-width: 1000px;
}

#top {
    text-align: center;
    font-family: VCR;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 15px;
    letter-spacing: 0;
    color: black;
}

.title {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 1000px;
}

.info {
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

img {
    width: 50%;
    height: 50%;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 35px;
    
}

.infoLink {
    text-align: center;
    margin-top: 20px;
    border: 2px solid black;
    max-width: 600px;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: black;
}