button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 50px;
    background-color: white;
    color: #001031;
    font-family: 'PT Sans', sans-serif;
    padding: 10px 40px;
    cursor: pointer;
    border: 2px solid #001031;
    border-radius: 20px;
    overflow: hidden;
}

button::before {
    content: "";
    background: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
    
    transition: width 1s ease;
    transition: height 1s ease;
    border-radius: 100%;
}

button:hover::before {
    width: 200px;
    height: 200px;
    background-color: #001031;
    color: white;
}
