@font-face {
    src: url(fonts/VCR.ttf);
    font-family: VCR;
}


* {
    position: relative;
    margin: 0;
    background-color: #EFEFF4    ;
    
}

#container {
    max-width: 1000px;
    margin: auto;
}

#title {
    text-align: center;
    font-family: VCR;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 15px;
    letter-spacing: 0;
    color: black;
}

#canvas {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   
    
}

canvas {
    border: 5px black solid;
    border-radius: 10px;
    background-color: #8E88BC;
}
    
#pi {
    text-align: center;
    font-family: VCR;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: black;
}

#digit {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 25px;
    padding-bottom: 15px;
    font-family: 'PT Sans', sans-serif;
}

#info {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 1000px;
    border-top: #BAA3AB solid 5px;
    
}

.infoLink {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 35px;
}

button{
    display: block;
    margin: 20px auto;
    padding: 14px 40px;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    background: none;
    background-color: #D3A49C;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;

    transition: 0.5s ease;

    overflow: hidden;
    position: relative;

    z-index: 0;
}

/* button:hover{
    color: white;
} */

button::before{
    content: "";
    background-color: #9B6F6A;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 0;
    height: 0;
    border-radius: 100%;

    z-index: -1;

    transition: 0.5s ease;
}

button:hover::before{
    width: 300px;
    height: 300px;
}