* {
    position: relative;
    margin: 0;
    background-color: #9badb7;
    
}

#container {
    max-width: 1000px;
    margin: auto;
}

#title {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
    color: black;
}

#canvas {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   
    
}

canvas {
    border: 5px black solid;
    border-radius: 10px;
    background-color: #001031;
}
    
#pi {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
    color: black;
}

#digit {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 25px;
    padding-bottom: 10px;
    font-family: 'PT Sans', sans-serif;
}

#info {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-top: gray solid 5px;
    
}

button{
    display: block;
    margin: 20px auto;
    padding: 14px 40px;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    background: none;
    background-color: white;
    border: 2px solid #001031;
    border-radius: 20px;
    cursor: pointer;

    transition: 0.5s ease;

    overflow: hidden;
    position: relative;

    z-index: 0;
}

button:hover{
    color: white;
}

button::before{
    content: "";
    background-color: #001031;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 0;
    height: 0;
    border-radius: 100%;

    z-index: -1;

    transition: 0.5s ease;
}

button:hover::before{
    width: 300px;
    height: 300px;
}